@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../font/OpenSans-Regular.ttf') format('truetype');

}

@import url('css/font-awesome.css');

label { font-size: 16px; }

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.navTree .navlink {
    background: url(images/name.png);
    width: 62px;
    text-overflow: ellipsis;
    /* height: 25px; */
    padding: 7px 0px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    float: left;
    background-color: transparent;
    color: white;
    margin-left: -8px;
    margin-top: 0px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 17px;
    padding-right: 8px;
}
.relationshipfont{
    font-size: 8px !important;
    font-style: italic;
}
.popuprelationshipfont{
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}
.backbtn {
    width:30px;
    height:30px;
    background: url(images/back.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    float:left;
}
body,html {
    font-family: OpenSans-Regular;
    margin:0px;
    overflow-x:hidden;
}
#treeView{
background-color:white;

}
        .ProfileModal{
        position:absolute;
            display:none;
        background-color: rgba(98,98,98,0.8);
            border:0px;

        /* padding:10px; */
            cursor:pointer;
            outline:none;
            z-index:999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
}
        .Personaldetails{
            width:80vw;
            margin:0px auto;
            height: 67vh;
            background-color:white;
            margin-top: 15vh;

            overflow: hidden;
}
        .ProfileDetails{
            /* width:100%; */
            /* height:81vh; */
            overflow-y:scroll;
            overflow-x:hidden;
            background-color:white;
            padding:0px 5px
        }
        .FieldName {
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            color:#ccc;
        }
        .Fields{
            /*padding-left: 10px;
            padding-right: 10px;*/
            width:100%;
            vertical-align:middle
        }
        .FavouriteLink{
            /* width: 100%; */
            height: 5vh;
            /* text-align:right; */
            /*overflow-x:hidden;*/
            background-color:white;
            padding: 0px 0px;
            float:right;
            font-family: OpenSans-Regular;

            /* bottom: 0px; */
            /* position: absolute; */
}
        .ok{
            color:white;
            background-color: red;
            outline:none;
            border:0px;
            text-align: center;
            width:88px;
            padding: 5px;
            float:right;
            margin-right: 4px
        }

        .button{
             background-color: #D91A0B;
             border: none;
             color: white;
             padding: 3px;
             text-align: center;
             text-decoration: none;
             font-size: 16px;
             margin-right: 5px;
             margin-bottom: 3px;
             margin-top:2px;
             cursor: pointer;
        }

        .favourite {
             color:white;
            background-color: red;
            outline:none;
            border:0px;
            text-align: center;
           margin-left:4px;
            padding: 5px;
            float:left;
        }
        .Exit{
            cursor:pointer;
            float:right;
            font-size: 25px;
            margin-right: 5px;
        }
        .details{
            font-size: 15px;
            float:left;
            margin-left: 5px;
            margin-top: 3px;
            font-weight: bold;
        }
        .ui-dialog {
            width:80vw !important;
            margin:0px auto !important;
            top: -58px !important;
        }
        .Details{
            color:black;
        }

        #header{
        height:5vh;
        overflow:hidden;
        background-color:white;
        padding:0px 5px;
        border-bottom: 1px solid #ccc;
        }

         .node circle {
                    cursor: pointer;
                    fill: #fff;
                    stroke: steelblue;
                    stroke-width: 1.5px;

                }

                .node text {
                    font-size: 11px;
                }

                path.link {
                    fill: none;
                    stroke: #ccc;
                    stroke-width: 1.5px;
                }

                .navigation {
                    overflow:hidden;
                    width:100vw;
                    height:auto;
                    position:fixed;
                }

                navTree {
                    padding:3px;
                    overflow-y:hidden;
                    overflow-x:auto;
                }
