* { box-sizing: border-box; padding: 0; margin: 0; }
        body{ background-color: #fffce9}
html, body { width: 100vw; height: 100vh; overflow: hidden;  }
div#networktree { position: relative; width: 100vw; height: 100vh; overflow: auto; }
div.node {
	width: 64px; height: 64px;
	background-color: #edead7; color: #000;
	font-family: Roboto; font-size: 14px;
	text-align: center; border-radius:6px;
	overflow: hidden; position: absolute; padding: 10px 10px;
}

.male{background-color: aquamarine}
div.connector { position: absolute; background-color: #333; z-index: -10; }

div.connector.h0 { height: 2px; background-color: #7e732e; }
div.connector.v0 { height: 2px; background-color: #7e732e; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }

div.connector.h1 { height: 2px; background-color: #8c813c; }
div.connector.v1 { height: 2px; background-color: #8c813c; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }

div.connector.h2 { height: 2px; background-color: #a89d55; }
div.connector.v2 { height: 2px; background-color: #a89d55; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }

div.connector.h3 { height: 2px; background-color: #baaf69; }
div.connector.v3 { height: 2px; background-color: #baaf69; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }

div.connector.h4 { height: 2px; background-color: #c4ba79; }
div.connector.v4 { height: 2px; background-color: #c4ba79; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }

div.connector.h5 { height: 2px; background-color: #d9d2a9; }
div.connector.v5 { height: 2px; background-color: #d9d2a9; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }

div.connector.h6 { height: 2px; background-color: #edead7; }
div.connector.v6 { height: 2px; background-color: #edead7; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }

div.connector.h { height: 2px; background-color: #baaf69; }
//div.connector.r { height: 2px; background-color: #e732e; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }
div.connector.v { height: 2px; background-color: #baaf69; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }

div[data-level='0'] { background-color: #edead7; }
div[data-level='1'], div[data-level='-1'] { background-color: #dad4ab; }
div[data-level='2'], div[data-level='-2'] { background-color: #c2ba84; }
div[data-level='3'], div[data-level='-3'] { background-color: #a89d55; }
div[data-level='4'], div[data-level='-4'] { background-color: #dad4ab; }
div[data-level='5'], div[data-level='-5'] { background-color: #c2ba84; }
div[data-level='6'], div[data-level='-6'] { background-color: #a89d55; }