        .node circle {
            cursor: pointer;
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font-size: 11px;
        }

        path.link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }

        .navigation {
            overflow: hidden;
            width: 100vw;
            height: 30px;
            padding: 1px;
        }

        navTree {
            margin-top: 1px;
            padding: 3px;
            overflow-y: hidden;
            overflow-x: auto;
        }
        .navList {
            margin-top:30px;
            padding-top:10px;
            width:100vw;
            background-color:rgba(0,0,0,0.8);
            z-index:5;
            overflow-y:scroll;
            position:fixed;
            top:0px;
            z-index:99;
            display:none;
            border-radius:5px;

        }

        .navitem {
            font-size:20px;
            line-height:20px;
            padding-top:10px;
            padding-bottom:10px;
            padding-left:20px;
            width:100vw;
            background-color:#fff;
            border-bottom:1px solid #444000;

        }

        .navitem :first-child {
            border-top:1px solid #444000;
        }
        .check-enabled::before {
            content: '\2713';
            display: inline-block;
            color: red;
            padding: 0 6px 0 0;
            font-size:24px;
        }
        .check-disabled::before {
            content: ' ';
            display: inline-block;
            color: red;
            padding: 0 6px 0 0;
            font-size:24px;
        }
        .tablinks{
            font-size:10px;
            font-style: italic;
        }