        body {
            font-family: Arial;
            padding: 0px;
            margin: 0px;
            background-color: #fffce9;
        }

        .tab {
            overflow: hidden;
            background-color: #fff;
        }

        /* Style the buttons inside the tab */

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 2px 2px;
            transition: 0.3s;
            font-size: 20px;
            width: 50%;
            font-weight: bold;
            color: #999;
            border-bottom: 3px solid #fff;
        }

        .tab button.active {
            color: #469d3e;

            border-bottom: 3px solid #469d3e;
        }

        /* Style the tab content */

        .tabcontent {
            display: none;
            padding: 3px 6px;
            border-top: none;
            height: calc(100vh - 43px)
        }

        /* Style the close button */

        .topright {
            float: right;
            cursor: pointer;
            font-size: 28px;
        }

        .modal {
            text-align: center;
            padding: 0!important;
        }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            margin: 30px;
        }

        .profile-usermenu {
            padding: 20px;
        }

        .nav span {
            font-weight: normal;
            font-size: 17px;
            margin-left: 10px;
        }

        .nav>li>a {
            padding: 5px 15px
        }

        .navreport {
            padding-left: 20px;
            font-size: 20px;
            line-height: 32px;
        }

        .navreport a {
            color: #469d3e;
        }